# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files 
*.csv
*.xlsx

# Model files
*.h5

# Logs
*.log

# System files
.DS_Store
Thumbs.db
